{
    "token": "SEU_JWT_TOKEN_AQUI",
    "base_url_apex_dev": "https://a8pl78rvme.execute-api.sa-east-1.amazonaws.com/dev",
    "doc_fundo": "SEU_CNPJ_FUNDO_AQUI",
    "x_api": "SUA_X_API_KEY_AQUI",
    "clientId": "SEU_CLIENT_ID_AQUI",
    "clientSecret": "SEU_CLIENT_SECRET_AQUI"
}
